# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/343bf13f-a5be-4706-a96d-987134968f95.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/e8b58567-4cab-4507-bdcc-15739a2a7b96.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/read.lock
CounterStrikecheats/.vs/CounterStrikecheats/v17/.suo
CounterStrikecheats/.vs/CounterStrikecheats/v17/Browse.VC.db
CounterStrikecheats/.vs/CounterStrikecheats/v17/ipch/AutoPCH/a942f8a4401b1354/CSFLY.ipch
