# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/343bf13f-a5be-4706-a96d-987134968f95.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/e8b58567-4cab-4507-bdcc-15739a2a7b96.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/read.lock
CounterStrikecheats/.vs/CounterStrikecheats/v17/.suo
CounterStrikecheats/.vs/CounterStrikecheats/v17/Browse.VC.db
CounterStrikecheats/.vs/CounterStrikecheats/v17/ipch/AutoPCH/a942f8a4401b1354/CSFLY.ipch
CounterStrikecheats/.vs/CounterStrikecheats/v17/ipch/AutoPCH/9c89c8bd3d9729f3/GETMODULENEWVERSION.ipch
*.ipch
*.vsidx
*.vsidx
*.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/81614ccc-3e40-4a7a-b145-ad510f5a40d1.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/2b0c5a59-717c-4590-a82b-54bcc40d1a18.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/2b0c5a59-717c-4590-a82b-54bcc40d1a18.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/81614ccc-3e40-4a7a-b145-ad510f5a40d1.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/c39be43f-ef0d-4a4f-b4fb-a569bc62dad1.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/f94ff7e3-b2dc-400e-a98d-bd1acdb0db89.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/v17/Browse.VC.db-shm
CounterStrikecheats/.vs/CounterStrikecheats/v17/Browse.VC.db-wal
CounterStrikecheats/.vs/CounterStrikecheats/v17/Browse.VC.opendb
CounterStrikecheats/.vs/CounterStrikecheats/v17/ipch/AutoPCH/317bfc88c155523a/CSFLY.ipch
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/2b0c5a59-717c-4590-a82b-54bcc40d1a18.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/81614ccc-3e40-4a7a-b145-ad510f5a40d1.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/c39be43f-ef0d-4a4f-b4fb-a569bc62dad1.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/FileContentIndex/f94ff7e3-b2dc-400e-a98d-bd1acdb0db89.vsidx
CounterStrikecheats/.vs/CounterStrikecheats/v17/ipch/AutoPCH/317bfc88c155523a/CSFLY.ipch
